<div id="app-container">
<!--  <div class="header">-->
<!--    <h2>{{ title }}</h2>-->
<!--    <button orgButton id="refresh" (click)="refresh()">Refresh</button>-->
<!--  </div>-->
<!--  <div class="body">-->
<!--    <ng-container *ngFor="let employee of (employees$ | async)">-->
<!--      <org-employee [employee]="employee"></org-employee>-->
<!--    </ng-container>-->
<!--    <org-create-employee></org-create-employee>-->
  <div class="body">
    <div>
      <div orgSlide [color]="'green'">
        <p>test</p>
      </div>
    </div>
    <div>
      <div orgSlide [color]="'blue'"></div>
    </div>
    <div>
      <div orgSlide [color]="'red'"></div>
    </div>
    <div>
      <div orgSlide [color]="'orange'"></div>
    </div>
    <div>
      <div orgSlide [color]="'purple'">
        <ng-container *ngFor="let employee of (employees$ | async)">
          <org-employee [employee]="employee"></org-employee>
        </ng-container>
      </div>
    </div>
  </div>
<!--  </div>-->
<!--  <div class="footer">-->
<!--    <p>footer text</p>-->
<!--  </div>-->
  <org-sidebar></org-sidebar>
</div>
